################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PhotoSorterWPF/bin
/PhotoSorterWPF/obj
*.user
